/* Typography
--------------------------------------------- */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #591441;
  background-color: #F0F7EE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 3rem;
}

p {
	margin: 0 0 1.5em;
}


table,
th,
td {
  border-collapse: collapse;
  text-align: center; 
}

table {
  border: 0.25rem solid;
}

th {
  border: 0.1rem solid;
}

td {
  border: 0.05rem solid;
}

/* Elements
--------------------------------------------- */
section,
aside {
	padding: 0 1rem;
}

/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #008000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}

/* Header
--------------------------------------------- */
.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #591441;
  min-height: 6.5rem;
}

.site-logo {
  padding: none
}

.site-logo img {
  padding-left: 1rem;
  width: 6.5rem;
}

.site-navigation a {
  display: block;
  /* padding: 0.5rem 0.5rem; */
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;

}

.site-navigation ul li {
  list-style-type: none;
  padding-right: 1rem;
}

@media (min-width: 43.5rem) {
  /* enlarge the site logo */
  .site-logo img {
    padding-left: 1rem;
    width: 7.5rem;
  }

  /* change the navigation links from columns to rows */
  .site-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* enlarge the font when the screen is 43.5rem to 49.9rem */
  .site-navigation a {
  font-size: 1.2rem;
  }
}

@media (min-width: 50rem) {
  /* enlarge the site logo for sites larger than 50rem*/
  .site-logo img {
    padding-left: 1rem;
    width: 8.5rem;
  }


  /* enlarge the font when the screen is 43.5rem to 49.9rem */
  .site-navigation a {
  font-size: 1.4rem;
  }
}

/*ABOUT */

.title-image {
  /* display: block; */
  /* background image based on a search of Stack Overflow */
  max-width: 100%;
  background-image: url("../images/fields.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  /* put the text in a flexbox to so that the text is justified to the center horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-image p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #f0f7ee;
  font-weight:bold;
  text-align: center;
  /* text outline added using code from Kinsta.com */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #003249;
}

.intro-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  /* height: auto; */
  display: block;
}

/* change the font size at 696 pixels (43.5rem) */
@media (min-width: 43.5rem) {
  .title-image p {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    /* add a text shadow */
    text-shadow: 2px 2px 2px #b4b3b3;
  }
}
/* change the font size at 800 pixels (50rem) */
@media (min-width: 50rem) {
  .title-image p {
    font-size: 4rem;
    -webkit-text-stroke-width: 3px;
    /* add a text shadow */
    text-shadow: 3px 3px 3px #b4b3b3;
  }
}


/* Main
--------------------------------------------- */

/* Section: About Me */
.about-content {
  background-color: #003249;
  color: #F0F7EE;
}

.section-about h2 {
	text-align: center;
}

.section-about p {
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 1.25rem;
  margin-top: 1.5rem;
}

/* Section: Projects */
.projects-wrapper {
  margin: 0 auto;
}


section-projects {
  display: flex;
	flex-direction: column;
	padding: 1.2rem;

}

.section-projects h2 {
  text-align: center;
}

.projects {
  border-width:1.5px;
	border-style:solid;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
	border-color:#591441;
  border-width: 1.5px;
  box-shadow: 5px 5px 5px #7c7d7d;
  background-color: #fff;
  margin: 0 auto;
	margin-bottom: 1.5rem;
	max-width:  18.75rem;
}

.project-link {
    text-align: center;
}

/* Contact 
--------------------------------------------- */
.contact-info {
  width: 100%;
  background-color: #003249;
  color: #fff;
  padding: 1rem;
}

.contact-info h2 {
  text-align: center;
  margin-top: 0;
}

/* style the Contact Me button */
.contact-me-btn {
  display: block;
	width: 10rem;
	padding: 0.75rem;
	background-color: #591441;
	color: #f0f7ee;
	text-align: center;
	font-size: 1.125rem;
  font-weight: 900;
  border-radius: 0.5rem;
  outline: 3px solid #f0f7ee;
  /* align the email button in the center of the page */
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Footer
--------------------------------------------- */
footer {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #591441;
  color: #fff;
  margin-top: 0;
}

footer p {
  padding: 0;
}

